.nav {
    background-color:var(--white) ;
}
.delivery {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.delivery__title {
    font-size: 2.6rem;
    font-weight: 200;
    /* line-height: 1; */
    margin-bottom: 1rem;
    color:var(--rose-800) ;
}
.delivery__subtitle {
    font-size: 2.3rem;
    font-weight: 900;
    /* line-height: 1; */
    color:var(--rose-50) ;
    margin-bottom: 2rem;
}
.delivery__text {
    font-size: 1.4rem;
    color:var(--rose-800) ;
    line-height: 1.4;    
}
.meny {
    padding-bottom: 2rem;
}
.meny__list, .meny__item:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

.menu__block {
    /* display: block; */
    border-top: 3px solid var(--stone-600);
    padding: 3rem;
    border-radius: 3%;
    background-color: rgb(249, 247, 245);
    box-shadow: 10px 5px 5px var(--rose-800);
}
.menu__block--second{
    /* border-top: 3px solid var( --stone-900); */
    border-color: var(--stone-900);
}
.menu__block--third{
    /* border-top: 3px solid var(--stone-150); */
    border-color: var(--stone-150);
}
.menu__block--fourth{
    /* border-top: 3px solid var(--brown-800); */
    border-color: var(--brown-800);
}

.meny__title {
    font-size: 2.3rem;
    font-weight: 600;
    /* line-height: 1; */
    color:var(--rose-50) ;
    margin-bottom: 1rem;
}
.meny__text {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.2;
    color:var(--rose-800) ;
    margin-bottom: 3rem;
}
.meny__svg {
    display: block;
    margin-left: auto;
}







@media screen and (min-width: 1440px) {

    .nav {
    padding: 7rem;
} 
    .delivery {
    padding-top: 4rem;
    padding-bottom: 6rem;
}
    .delivery__title {
    max-width: 51rem;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 200;
    line-height: 2;
}
    .delivery__subtitle {
    margin: 0 auto;
    max-width: 52rem;
    font-size: 4.5rem;
    color:var(--rose-50) ;
    margin-bottom: 2rem;
}
    .delivery__text {
    font-size: 2rem; 
    max-width: 69rem;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
    /* .meny {
    padding-bottom: 2rem;
} */
    .meny__list {
     justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
    .menu__block {
    width: 30rem;
    /* height: 30rem;
    flex-shrink: 0; */
}
/* .meny__item:nth-child(2) {
    align-items: center;
} */




}
